{% extends 'base.html.twig' %}

{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Nuevo Producto</h1>
        </div>

        {% form_theme form 'bootstrap_3_layout.html.twig' %}

        {{ form_start(form,{'action': path('newproduct'),'attr':{'novalidate': 'novalidate'}}) }}

            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.code) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.name) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.description) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.trademark) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.category) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.price) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.img) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.gender_code) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.birthday) }}
                </div>
            </div>

            <!-- Botones de accion -->
            <div class="well well-sm">
                <button type="submit" class="btn btn-primary pull-right">Guardar</button>
                <a class="btn btn-default" href="{{ path('listproduct') }}" role="button">Lista de Productos</a>
            </div>

        {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-MM-dd'
            });
        });
    </script>
{% endblock %}